/* Estilo general del cuerpo de aplicación anonimización */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

/* Ventana principal de la página web  */
.window {
  width: 500px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Área de texto de anonimización */
textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 15px;
}

/* Opciones de aplicación anonimización */
.options {
  margin-bottom: 15px;
}

/* Botón de procesar y guardar*/
button {
  padding: 10px 15px;
  background-color: #007acc;
  color: white;
  border: none;
  cursor: pointer;
}

/* Hover del botón de procesar y guardar */
button:hover {
  background-color: #005fa3;
}
